@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=VT323&display=swap");

:root {
  --background-color: #1e1e2f;
  --container-color: #2d2d5a;
  --border-main: #9ecbff;
  --outline-color: #1a1a26;
  --board-color: #c7e2c6;
  --head-color: #33d17a;
  --snake-color: #4a6cf7;
  --food-color: #f75e5e;
  --btn-green: #2ecc71;
  --text-white: #fefefe;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  color: var(--text-white);
}

html,
body {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--background-color);
  font-family: "VT323", monospace;
  font-weight: 400;
  font-style: normal;
}

.app-container {
  margin-top: 2rem;
  width: 42rem;
  height: 52rem;
  background-color: var(--container-color);
  padding: 0 0 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 1rem;
  border: 12px solid var(--border-main);
  outline: 10px solid var(--outline-color);
}

h1 {
  margin: 0 0 2.5rem;
  font-size: 4rem;
  font-weight: 100;
  color: var(--text-white);
}

.scores {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.scores p {
  padding: 0.5rem 0 1.2rem;
  font-size: 2rem;
}

.board {
  width: 85%;
  height: 100%;
  background-color: var(--board-color);
  display: grid;
  grid-template-columns: repeat(21, 1fr);
  grid-template-rows: repeat(21, 1fr);
}

.btn {
  width: 8rem;
  height: 3.5rem;
  font-family: "VT323", monospace;
  padding: 0.7rem;
  font-size: 2rem;
  color: white;
  background-color: var(--btn-green);
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #27ae60;
}

.head {
  background-color: var(--head-color);
}

.snake {
  background-color: var(--snake-color);
  z-index: 22;
}

.food {
  background-color: var(--food-color);
  border-radius: 50%;
}

footer {
  margin-top: 1rem;
  font-size: 0.7rem;
  color: #aaa;
}

/* Responsiveness tetap */
@media screen and (max-width: 750px) {
  .app-container {
    width: 30rem;
    height: 30rem;
  }
  footer {
    font-size: 1rem;
  }
}
@media screen and (max-width: 550px) {
  .app-container {
    width: 25rem;
    height: 25rem;
  }
}
@media screen and (max-width: 450px) {
  .app-container {
    width: 22rem;
    height: 27rem;
  }
}
@media screen and (max-width: 390px) {
  .app-container {
    width: 20rem;
    height: 27rem;
  }
}
